.AppDownload-container {
  text-align: center;
  margin: 70px 0px;
}
.download-img {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 30px;
}
.download-img img {
  transition: transform 0.2s ease-in;
  transform: scale(1);
  cursor:pointer;
}
.download-img img:hover {
  transform: scale(1.1);
}
